@charset "utf-8";
@import url(common.css);

table.shaixuan {
    border-collapse: collapse;
}

.shaixuan caption {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #737ec6;
}

.shaixuan .row {
    width: 100%;
    font-size: 18px;
}

    .shaixuan .row span {
        font-weight: bolder;
    }

    .shaixuan .row td {
        width: 140px;
        height: 35px;
    }

.shaixuan .price .margin {
    margin-right: 30px;
}

.shaixuan .price input {
    text-align: right;
    padding-right: 5px;
    line-height: 25px;
}
.banner{
    margin-top:10px;
}
.banner img {
    height: 300px;
    width: 100%;
}


.container hr {
    background-color: plum;
    margin: 20px 0;
    height: 3px;
    border: none;
}

.shaixuan-buttons {
    text-align: right;
    margin-right: 50px;
}

    .shaixuan-buttons input {
        border: none;
        background-color: rgb(131, 159, 184);
        padding: 5px 15px;
        display: inline-block;
        color: white;
        cursor:pointer;
    }

.main ul {
    flex-wrap: wrap;
}

    .main ul li {
        width: 23%;
        margin: 10px;
    }

.main .item {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
    cursor:pointer;
}

    .main .item:hover {
        box-shadow: 1px 1px 5px #3e3e3e;
    }

    .main .item > img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height:300px;
        margin-bottom:10px;
    }

    .main .item .item-price {
        color: red;
        font-weight: bold;
        margin-top:10px;
    }

    .main .item .buttons {
        margin-top: 10px;
    }

        .main .item .buttons span {
            width: 33%;
            cursor: pointer;
        }
    .main .item .des{
        max-height:40px;
        overflow:hidden;
        margin-bottom:10px;
    }

    .page {
        height: 34px;
        line-height: 34px;
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;
    }

    .page a {
        display: inline-block;
        border: 1px solid #ededed;
        padding: 0 12px;
        color: #3e3e3e;
        font-size: 14px;
        font-family: tahoma, simsun;
        text-decoration: none;
    }

        .page a:hover {
            color: #f40;
            border-color: #f40;
        }

    .page .active,
    .page .active:hover {
        color: #fff;
        background: #f40;
        border: solid 1px #f40;
    }
